/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */
html, .acms body, .acms div, .acms span, .acms object, .acms iframe, .acms h1, .acms h2, .acms h3, .acms h4, .acms h5, .acms h6, .acms p, .acms blockquote, .acms pre, .acms abbr, .acms address, .acms cite, .acms code, .acms del, .acms dfn, .acms em, .acms img, .acms ins, .acms kbd, .acms q, .acms samp, .acms small, .acms strong, .acms sub, .acms sup, .acms var, .acms b, .acms i, .acms dl, .acms dt, .acms dd, .acms ol, .acms ul, .acms li, .acms fieldset, .acms form, .acms label, .acms legend, .acms table, .acms caption, .acms tbody, .acms tfoot, .acms thead, .acms tr, .acms th, .acms td, .acms article, .acms aside, .acms canvas, .acms details, .acms figcaption, .acms figure, .acms footer, .acms header, .acms hgroup, .acms menu, .acms nav, .acms section, .acms summary, .acms time, .acms mark, .acms audio, .acms video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.acms article, .acms aside, .acms details, .acms figcaption, .acms figure, .acms footer, .acms header, .acms hgroup, .acms menu, .acms nav, .acms section {
    display: block;
}

.acms nav ul {
    list-style: none;
}

.acms blockquote, q {
    quotes: none;
}

.acms blockquote:before, .acms blockquote:after, .acms q:before, .acms q:after {
    content: '';
    content: none;
}

.acms a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.acms body, .acms p, .acms a {
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
}

/* change colours to suit your needs */
.acms ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
.acms mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

.acms del {
    text-decoration: line-through;
}

.acms abbr[title], .acms dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

.acms table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
.acms hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

.acms input, .acms select {
    vertical-align: middle;
}

.acms.acms-panel__background-cover,.acms.acms-content__background-cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1999;
    text-align: center;
}
.acms.acms-content__background-cover{
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    z-index: 1997;
    height: 100%;
}

.acms .acms-panel {
    top: 0;
    height: auto;
    z-index: 2000;
/*
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
*/
    padding: 0 10px;
    display: inline-block;
}
.acms .acms-panel, .acms .acms-mainmenu ul{
/*
    background-color: rgb(200, 229, 255);
    border: 1px solid rgb(165, 212, 255);
*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: #ffffff;
    border: #f5f5f5;
    border-top: 0;
    box-shadow: 0 5px 10px -2px black;
}
.acms .acms-content{
    display: inline-block;
    width: 90%;
    max-width: 1100px;
    height: calc(100% - 120px);
    margin-top: 45px;
    background-color: white;
    box-shadow: 0 0 10px -2px black;
    z-index: 1998;
    cursor: default;
    border-radius: 10px;
    padding: 30px;
}

.acms .acms-mainmenu.acms-mainmenu-top {
    position: fixed;
    left: 50%;
    top: 43%;
    width: 500px;
    height: auto;
    margin-left: -250px;
    margin-top: -150px;
    background-color: white;
    box-shadow: 0 0 10px -2px black;
    z-index: 2000;
    cursor: default;
    border-radius: 10px;
}

.acms-mainmenu {
    white-space: nowrap;
}

.acms-mainmenu a{
    text-decoration: underline;
}
.acms-mainmenu a[href='#']{
    cursor: default;
    text-decoration: none;
    color: grey;
}
.acms-mainmenu>li {
    display: inline-block;
    width: auto;
    height: 33px;
    padding: 4px 7px;
}
.acms-mainmenu>li>ul {
    position: absolute;
    background-color: white;
    margin: 9px -20px -20px;
    padding: 0 20px 10px 20px;
}
.acms-mainmenu>li>ul>li {
    list-style: none;
    text-align: left;
    margin: 5px 0;
}

.acms-mainmenu ul {
    display: none;
}
.acms-mainmenu li:hover ul{
    display: block;
}
.acms .acms-cross, .acms .acms-save{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: -15px;
    cursor: pointer;
    line-height: 28px;
    border: 1px solid rgb(218, 218, 218);
    display: block;
    border-radius: 3px;
    color: silver;
}
.acms .acms-save{
    margin-top: 20px;
}
.acms .acms-save:hover{
    color: rgb(0, 185, 74);
    border-color: rgb(0, 185, 74);
}
.acms .acms-cross:hover{
    color: red;
    border-color: red;
}

