.acms_clear {
	clear: both;
}
.acms_lb-background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url('http://src.sitko.ru/a/i/lb-background.png') repeat 0 0;
	display:none;
	z-index:99;
}
.acms_lb-contentWrap {
	width: 100%;
	position: fixed;
	top: 50%;
	left: 0;
	margin-top: -175px;
	display:none;
	z-index:99;
}
.acms_lb-content {
	width: 500px;
	position: relative;
	margin: 0 auto;
	background: #fff;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
.acms_lb-content a:link,
.acms_lb-content a:active,
.acms_lb-content a:visited {
	color: #1089c4;
}
.acms_lb-content a:hover {
	color: #ff7d00;
}
.acms_lb-content-header {
	color: #ff9900;
	font-size: 2.125em;
	line-height: 1.2;
	text-align: center;
	padding: 16px 0 14px;
}
.acms_lb-content-form {
	background: #ff7d00;
	padding: 13px 0 10px;
	margin: 0;
}
.acms_lb-content-formTable {
	padding: 0;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
}
.acms_lb-content-formCell {
	vertical-align: middle;
	padding-bottom: 3px;
}
.acms_lb-content-formCell_first {
	padding-bottom: 8px;
}
.acms_lb-content-leftCol {
	width: 35%;
	color: #ffd8b3;
	font-family: 'Segoe UI', 'Arial', sans-serif;
	font-size: 1em;
	text-align: right;
}
.acms_lb-content-rightCol {
	width: 65%;
	color: #fff;
}
.acms_lb-content-formLabel {
	margin: 0;
	padding: 0 13px 0 0;
}
.acms_lb-content-formInput {
	height: 31px;
	line-height: 31px;
	font-family: 'Arial', sans-serif;
	color: #111;
	font-size: 0.875em;
	background: #fff;
	border: 0;
	padding: 0 3px;
	margin: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.acms_lb-content-formLabel_otherPC {
	color: #ffd8b3;
	font-family: 'Segoe UI', 'Arial', sans-serif;
	font-size: 1em;
	line-height: 1.2;
	position: relative;
	padding: 0 0 0 20px;
}
.acms_lb-content-formCheckbox {
	position: absolute;
	left: 0;
	top: 3px;
}
.acms_form-inputButton {
	font-family: 'Arial', sans-serif;
	font-size: 1em;
	color: #000;
	padding: 3px 30px;
	margin-top: 5px;
}
.acms_listLinks {
	margin: 0;
	padding: 14px 0;
}
.acms_listLinks-item {
	list-style-type: none;
	padding: 0 0 3px 35%;
	margin: 0;
	font-size: 0.813em;
}
.acms_listLinks-item_last {
	padding-top: 10px;
	color: #999;
	position: relative;
	zoom: 1;
}
.acms_listLinks-item_last a:link,
.acms_listLinks-item_last a:active,
.acms_listLinks-item_last a:visited {
	color: #999;
}
.acms_listLinks-item_last a:hover {
	color: #ff7d00;
}
.acms_listLinks-linkSitko,
.acms_listLinks-linkAsterix {
	position: relative;
	zoom: 1;
}
.acms_listLinks-imgSitko {
	position: absolute;
	top: -16px;
	left: -107px;
	border: 0;
}
.acms_listLinks-imgAsterix {
	position: absolute;
	top: 1px;
	left: -107px;
	border: 0;
}
.acms_listLinks-linkVersion {
	display: block;
	width: 15px;
	height: 15px;
	font-size: 0;
	position: absolute;
	right: 63px;
	top: 11px;
}
.acms_listLinks-imgVersion {
	display: block;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background-image: url('http://src.sitko.ru/a/i/update.png');
	background-repeat: no-repeat;
}
a.acms_listLinks-linkVersion:link .acms_listLinks-imgVersion,
a.acms_listLinks-linkVersion:active .acms_listLinks-imgVersion,
a.acms_listLinks-linkVersion:visited .acms_listLinks-imgVersion {
	background-position: 0 0;
}
a.acms_listLinks-linkVersion:hover .acms_listLinks-imgVersion {
	background-position: 0 -15px;
}
.acms_lb-close {
	position: absolute;
	top: -19px;
	right: -19px;
	cursor: pointer;
	display: block;
	width: 38px;
	height: 38px;
	background-image: url('http://src.sitko.ru/a/i/lb-close.png');
	background-repeat: no-repeat;
	background-position: 0 0;
}
.acms_lb-close:hover {
	background-position: 0 -38px;
}
